.header-container {
    background-color: #00145a; /* Header bar color */
    padding: 20px; /* Add padding for spacing */
    display: flex;
    justify-content: space-between;
    align-items: center; /* Center items vertically */
  }


  

.menu-toggle {
    display: inline-block;
    cursor: pointer;
}

.menu-toggle input {
    display: none;
}

.menu-toggle label {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    background-color: transparent;
}

.menu-toggle label:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: white;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: transform 0.3s;
}

.menu-toggle label:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: white;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: transform 0.3s;
}

.menu-toggle input:checked ~ label:before {
    transform: translateY(-50%) rotate(45deg);
}

.menu-toggle input:checked ~ label:after {
    transform: translateY(-50%) rotate(-45deg);
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #00145a; /* Background color for menu */
    box-shadow: 0px 0px 10px rgba(211, 213, 196, 0.5); /* Shadow for menu */
}

.menu li {
    padding: 10px 20px;
}

.menu li a {
    color: white;
    text-decoration: none;
}

.menu-toggle input:checked ~ .menu {
    display: block;
}

.footer-text {
    text-align: center;
}

.header-name {
    text-align: center;
    margin: 0px auto 0px; /* Adjust spacing as needed */
    color: white;
  }
  
  .header-title {
    margin-top: 100px; /* Remove default margin */
    margin-bottom: 10px; /* Maintain bottom margin */
    color: white; /* Adjust text color */
    text-align: center; /* Center horizontally */
    /* OR
    margin: 0 auto; /* Center horizontally with margin */
  }
  